/* most of the css come 
from node_modules\react-responsive-carousel\lib\styles\carousel.css */
:root{
    --bg-image: url("../../assets/Images/smokey.png");
   /* --bg-image: url("../src/assets/Gif/bganimation.gif"); */
   /* --bg-image: url("../src/assets/Gif/smokey_background.gif"); */
   --bg-white: url("../../assets/Images/white-bg.jpg");
    --text-main : azure;
    --text-second: #000;
    --bg-color: #111;  
  }


.carousel-root {
    width: 45vw;
    height: 78vh;
    margin-left: 425px;

}

.carousel .control-dots {
  display: none;
  position: absolute;
  bottom: 0;
  margin: 10px 0;
  padding: 0;
  text-align: center;
  width: 100%;
  z-index: 1;
}



a {
    text-transform: uppercase;
    color: #f1f1f1;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    position: relative;
  }
  
  a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: gold;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  a:hover:after {
    width: 100%;
    left: 0;
  }
  a:hover {
    color: gold;
  }

  .detailsBtn{
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: fixed;
    box-sizing: border-box;
    outline: 0;
    top: 0;
    border: 0;
    margin-top: 5rem;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    min-width: 60px;
    padding: 5px 8px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: #fff;
    background-color: #1976d2;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
  }
  
  @media screen and (max-width: 768px){
  .carousel.carousel-slider .control-arrow {
      top: 30%;
      padding: 1px;
  }
  .carousel-root {
    width: 85vw;
    height: 78vh;
    margin-left: 20px;
}



}