
.resume-pdf{
    width: 80vw;
    height: 85vh;
}
.resume-pdf:hover{
    border: 1px solid gold;
    transition: 1s ease-out;
}

.resume-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1vh auto;
    width: 90vw;
    height: auto;
    padding: 2.5vh;
    /* background-image: var(--bg-image-main); */
    box-shadow: 2px 2px 10px 5px var(--bg-box2);
    border-radius: 2rem;
    border: 1px solid #b8bfc2;

}
.resume-pdfHide{
    display: none;
}
.top-resume{
    flex-wrap: wrap;
}

.resume{
 align-items: center;
    width: 500px;
    /* padding: 20px; */
    height: auto;
    border: 1px solid #b8bfc2;
    box-shadow: 1px 0px 6px white;
    margin: 10px;
 
}
.resume:hover{
    border: 1px solid gold;
    transition: 1s ease-out;
}
.resumeHide{
    display: none;
}

@media  screen and (max-width:700px) {

    .resume{
        width: 300px;
    }
    .resume-pdf{
        width: 90vw;
        height: 90vh;
    }
    .top-resume{
        flex-direction: column;
    }

    
}