
.resume-pdf{
    width: 80vw;
    height: 80vh;
}
.top-resume{
    flex-wrap: wrap;
}

.resume{
 align-items: center;
    width: 500px;
    /* padding: 20px; */
    height: auto;
    border: 1px solid #b8bfc2;
    box-shadow: 1px 0px 6px white;
    margin: 10px;
 
}

@media  screen and (max-width:700px) {

    .resume{
        width: 300px;
        height: auto;
        /* padding: 20px; */
    }
    
}