
.profile-about{
  display: flex;
  flex-direction: column;
  padding: 0 20% 0 20%;
  text-align: justify;
}

.type-profile{
color: gold;
}
.type-profile:hover{
  color: white;
  transition: 1s ease-out;
}
.image-icons {
  width: 26px;
  padding-right: 10px;
}