@import url("https://fonts.googleapis.com/css2?family=Island+Moments&family=Metal+Mania&family=Roboto:wght@300&display=swap");

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 2rem;
  margin-left: 1rem;
  width: 95vw;
  height: auto;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px 5px var(--bg-box2);
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.nav-home {
  display: flex;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 800;
  color: var(--text-main);
  font-size: 1rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  transition: 1s ease-out;
  margin-top: 1rem;
  margin-bottom: 20vh;
}
.headerTxt {
  font-weight: 500;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: var(--text-main);
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.75;
  letter-spacing: 0.15em;
  transition: 1s ease-out;
  margin: 0 auto;
  margin-top: 20px;
}

.card {
  padding: 1vw;
  text-align: left;
  /* background-image: var(--bg-main); */
  text-decoration: none;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px 5px var(--bg-box2);
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 10vw;
  margin: 12vh auto;
}

.card:hover {
  border: 1px solid goldenrod;
}

.type {
  display: flex;
  margin: 0 auto;

  color: var(--text-main);
  transition: 1s ease-out;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 800;
  font-size: 1rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
}

.opening-txt {
  font-family: "Delicious Handrawn";
  font-weight: 800;
  color: var(--text-main);
  font-size: 1rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  transition: 1s ease-out;
  margin: 20px auto;
}





.nav-home a {
 text-decoration: none;
 margin: 0 10px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
 font-weight: 800;
 color: var(--text-main);
 font-size: 1rem;
 line-height: 1.75;
 letter-spacing: 0.02857em;
 text-transform: uppercase;
 transition: 1s ease-out;
}

.nav-home a:hover {
  color: goldenrod;
}



@media screen and (max-width: 600px) {
  .profile-container {
    width: 90vw;
    height: auto;
  }

 .nav-home a{
    font-size: 0.875rem;
 }
  .card {

    padding: 2vw;
    width: 20vw;
  }
  .type {
    font-size: 0.875rem;
  }
  .opening-txt {
    font-size: 0.875rem;
  }
  .headerTxt {
    font-size: 0.875rem;
  }
  
}
