@import url("https://fonts.googleapis.com/css2?family=Island+Moments&family=Metal+Mania&family=Roboto:wght@300&display=swap");


.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 2rem;
  margin-left: 1rem;
  width: 95vw;
  height: 88vh;
  border: 1px solid #b8bfc2;
  box-shadow: 1px 0px 6px white;
  /* background-color: #84c4d4;
  color: #fff; */
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.nav-home {
  display: flex;
  font-size: 18px;
}
.headerTxt{
  font-weight: 500;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  color: var(--text-main);
  text-transform: uppercase;
  font-size:1rem;
  line-height: 1.75;
  letter-spacing: 0.15em;
  transition: 1s ease-out;
  margin: 20px auto;
}

.card {
  padding: 1.5rem;
  text-align: left;
  background-image: var(--bg-lightBlue);
  text-decoration: none;
  border: 1px solid #b8bfc2;
  box-shadow: 1px 0px 6px white;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 100px;
}

.card:hover {
  border: 1px solid goldenrod;
}



.type {
  display: flex;
 margin: 20px auto;
 color: var(--text-main);
  transition: 1s ease-out;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 800;
  font-size: 1rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
 
}

.opening-txt{
  font-family: "Delicious Handrawn";
  font-weight: 800;
  color: var(--text-main);
  font-size: 1rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  transition: 1s ease-out;
  margin: 20px auto;
}

/* .type:hover {
  color: white;
  transition: 1s ease-out;
} */


.nav-home a {
  text-transform: uppercase;
  color: #f1f1f1;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  position: relative;
}

.nav-home a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: gold;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav-home a:hover:after {
  width: 100%;
  left: 0;
}
.nav-home a:hover {
  color: gold;
}

@media screen and (max-width: 768px) {
  .profile-container {
    width: 90vw;
    height: 90vh;
  }
  .nav-home {
    font-size: 14px;
  }
  .card {
    max-width: 100px;
  }
  .type {
    font-size: 0.875rem;
  }
  .opening-txt{
    font-size: 0.875rem;
  }
  .headerTxt{
    font-size: 0.875rem;
  }
  
}