
.social-links {
display: flex;
justify-content: center;
bottom: 0;
padding-top: 20px;
padding-bottom: 10px;
font-size: 12px;
gap: 20px;
  }

  .social-links .fa {
    font-size: large;
    color:var(--text-second);
  }
  
  .social-links .fa:hover {
    color: gold;
    transition: 1s ease-out;
  }

 