:root{
  --bg-image: url("./assets/Images/smokey.png");
 /* --bg-image: url("../src/assets/Gif/bganimation.gif"); */
 /* --bg-image: url("../src/assets/Gif/smokey_background.gif"); */
 --bg-white: url("./assets/Images/white-bg.jpg");
 --bg-lightBlue: #84c4d4;
  --text-main : azure;
  --text-second: #000;
  --bg-color: #111;  
}
body {
  margin: 0;
  width: 100vw;
  height: 85vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var( --text-second);
  background: var(--bg-lightBlue);
  /* background-image:var(--bg-image) ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; */

  /* background-color: var(--bg-color); */

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
