

:root{
 --bg-image: url("../src/assets/Images/tech-back.jpg");
 /* --bg-image: url("../src/assets/Gif/smokey_background.gif"); */
 --bg-white: url("../src/assets/Images/white-bg.jpg");
  --text-color : azure;
  --bg-color: #111; 
  
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
  background-image:var(--bg-image) ;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  /* background-color: var(--bg-color); */

}




code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
