:root{
--bg-image-secondary:url("https://github.com/asaad227/ahammed-portfolio/blob/main/src/assets/Images/NightblueSkyBg.png?raw=true");
--bg-image-main:url("https://github.com/asaad227/ahammed-portfolio/blob/main/src/assets/Images/BlueFadeWater.png?raw=true");
  --bg-main:#ffffff;
  --text-main : #000;
  --text-second: #990099;
  --bg-color:#ffffff;
  --bg-black:#000;
  --text-third:#FFFF00;
  --bg-box2:rgba(0, 0, 0, 0.2);

}
body {
  margin: 0;
  width: 100vw;
  height: 85vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var( --text-second);
  background: var(--bg-main);
  background-image: var(--bg-image-main);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  /* background-color: var(--bg-color); */

}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
