.menuBar{
    display: flex;
    justify-content: space-between;
    width: 98vw;
    border: 1px solid #b8bfc2;
    box-shadow: 1px 0px 6px white;
    padding: 1rem; 
  }
  .logo{
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    color: black;
    display: flex; /* Display block instead of inline */
    margin-left:0.25rem;
  }

 .moodChange{
    margin-right:0.5rem;
 }
  .menuLink{
  
    margin-left: 1rem;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    color: black;
    display: flex; /* Display block instead of inline */
   
    
  }
  
  .menuBar a{
    text-decoration: none;
  }
  
  .menuBar li:hover{
    color: #e9c46a;
  }

  
.menuBar a {
  text-transform: uppercase;
  color: var(--text-main);
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  position: relative;
}

.menuBar a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: gold;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.menuBar a:hover:after {
  width: 100%;
  left: 0;
}
.menuBar a:hover {
  color: gold;
}