.menuBar{
    display: -webkit-inline-flex;
    width: 100vw;
    border: 1px solid #b8bfc2;
    box-shadow: 1px 0px 6px white;
    padding: 1rem; 
  }
  
  .menuLink{
    margin-left: 1rem;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    color: black;
    display: flex; /* Display block instead of inline */
   
    
  }
  
  .menuBar a{
    text-decoration: none;
  }
  
  .menuBar li:hover{
    color: #e9c46a;
  }